.pagination {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--background);
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.active {
  background-color: var(--accent);
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
  .pagination {
    gap: 18px;
  }
}

@media only screen and (min-width: 1440px) {
}
