.wrapper {
  padding-top: 20px;
}

.statWrapper {
  margin-bottom: 20px;
}

.wrapperTable {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rcWrapper {
  max-width: 335px;
  width: 100%;
}

.ieWrapper {
  max-width: 335px;
  width: 100%;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
  .statWrapper {
    margin-bottom: 40px;
  }

  .rcWrapper {
    max-width: 704px;
    width: 100%;
  }

  .ieWrapper {
    max-width: 704px;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .rcWrapper {
    max-width: 630px;
    width: 100%;
  }

  .ieWrapper {
    max-width: 630px;
    width: 100%;
  }
}
