@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
  .statWrapper {
    margin-bottom: 40px;
  }

  .wrapper {
    display: flex;
    gap: 20px;
  }

  .rcWrapper {
    width: 630px;
  }

  .ieWrapper {
    width: 630px;
  }
}
