.inputEmail {
  margin-bottom: 14px;
}

.inputForm {
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  max-width: 300px;
  width: 100%;
  height: 44px;
  padding: 13px 18px;
  background-color: var(--background-3);
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
}

.inputPassword {
  margin-bottom: 40px;
}

.errorMessage {
  padding: 2px 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
}
.btnForm {
  border-radius: 60px;
  padding: 13px 136px;
  max-width: 300px;
  width: 100%;
  height: 44px;
  background-color: var(--accent);
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--background-3);
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 375px) {
  .inputForm {
    max-width: 335px;
    width: 335px;
  }

  .btnForm {
    max-width: 335px;
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .inputForm {
    max-width: 323px;
    width: 323px;
  }

  .btnForm {
    max-width: 323px;
    width: 323px;
  }
}

@media only screen and (min-width: 1440px) {
}
