.container {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  display: flex;

  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  align-items: center;
}

.burgerBtn {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

.burgerIcon {
  width: 32px;
  height: 32px;
  stroke: var(--main-black);
}

.logo {
  margin-left: 10px;
}

.titleWrapper {
  margin-left: 10px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.meta {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.vLineIcon {
  stroke: rgba(29, 30, 33, 0.4);
  width: 1px;
  height: 12px;
}

.logoutBtn {
  display: none;
}
@media only screen and (min-width: 375px) {
  .container {
    padding-left: 20px;
  }

  .logo {
    margin-left: 20px;
  }

  .titleWrapper {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
  }

  .logo {
    margin-left: 16px;
  }

  .titleWrapper {
    margin-left: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 40px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  }

  .titleWrapper {
    margin-left: 60px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-left: 0px;
  }

  .titleWrapper {
    margin-left: 60px;
  }

  .logoutBtn {
    display: block;
  }

  .burgerBtn {
    display: none;
  }
}
