@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
  .statWrapper {
    display: flex;
    gap: 20px;
  }

  .statBox {
    border: 1px solid rgba(29, 30, 33, 0.1);
    border-radius: 8px;
    padding: 14px 18px;
    width: 240px;
    height: 108px;
    background-color: var(--background-3);
  }

  .statBox:hover,
  .statBox:focus {
    border: 1px solid var(--accent);
  }

  .meta {
    margin-bottom: 33px;
    display: flex;
    gap: 8px;
    align-items: start;
  }

  .title {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(29, 30, 33, 0.4);
  }

  .icon {
    width: 20px;
    height: 20px;
    stroke: var(--main-black);
    fill: none;
  }
}
