@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
  .logOut {
    border-radius: 100%;
    background-color: var(--accent);
    box-shadow: 0 -1px 7px 0 rgba(71, 71, 71, 0.05);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
  }

  .logoutIcon {
    width: 13px;
    height: 14px;
    fill: var(--background-3);
  }
}
