:root {
  --font-family: 'Inter', sans-serif;
  --main-black: #1d1e21;
  --accent: #59b17a;
  --accent-2: #e85050;
  --text: #dcdddf;
  --background: #e7f1ed;
  --background-2: #f7f8fa;
  --background-3: #fff;

  --white-color: #fff;

  --icon-color-white: #fff;
  --icon-color-orange: #f6b83d;
  --icon-color-black: #262626;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: var(--font-family);
  overflow-x: hidden;
  background-color: var(--background-2);
}

section {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
}
